@{
    ViewBag.Title = "Home Page";
}
<link href="~/css/styles.css" rel="stylesheet">
<div class="container mt-5">
    <div class="header-tab text-center mb-5">
        <p class="lead header-text">Welcome to E-Checklist Management System</p>
    </div>
    <div class="row mb-5 fade-in-section">
        <div class="col-md-6 d-flex flex-column justify-content-center text-center">
            <h1>Customization and Flexibility</h1>
            <p>
                Adaptability: The template can be tailored to fit the specific needs of different applications and projects, accommodating various requirements and complexities.
                Scalability: Easily scaled up or down depending on the size and scope of the application, making it suitable for both small and large projects.
            </p>
        </div>
        <div class="col-md-6 text-center">
            <div class="image-one">
                <img src="~/Images/image-one.jpg" class="img-fluid" alt="Checklist Image">
            </div>
        </div>
    </div>
    <div class="row mb-5 fade-in-section">
        <div class="col-md-6 text-center">
            <div class="image-two">
                <img src="~/Images/image-two.jpg" class="img-fluid" alt="Checklist Image">
            </div>
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-center text-center">
            <h1>Improved Efficiency</h1>
            <p>Faster Access to Information: Digital documents can be accessed instantly from any location with an internet connection, eliminating the time spent searching for physical files.</p>
        </div>
    </div>
    <div class="row mb-5 fade-in-section">
        <div class="col-md-6 d-flex flex-column justify-content-center text-center">
            <h1>Cost Savings</h1>
            <p>
                Reduced Paper and Printing Costs: Organizations can save money on paper, printing supplies, and equipment maintenance by going paperless.
                Lower Storage Costs: Eliminating physical document storage reduces the need for filing cabinets, storage space, and associated expenses.
            </p>
        </div>
        <div class="col-md-6 text-center">
            <div class="image-one">
                <img src="~/Images/image-three.jpg" class="img-fluid" alt="Checklist Image">
            </div>
        </div>
    </div>
    <div class="row mb-5 fade-in-section">
        <div class="col-md-6 text-center">
            <div class="image-two">
                <img src="~/Images/four-three.jpg" class="img-fluid" alt="Checklist Image">
            </div>
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-center text-center">
            <h1>Efficiency and Consistency</h1>
            <p>Time-Saving: Saves time by providing a ready-made structure that can be quickly filled out, reducing the need to create documentation from scratch.</p>
        </div>
    </div>
</div>