
@{
    ViewBag.Title = "Register";
}


<link href="~/css/styles-register.css" rel="stylesheet">
<div class="container-fluid">
    <div class="row no-gutter">
        <div class="col-md-6 d-none d-md-flex bg-image fade-in-section"></div>
        <div class="col-md-6 bg-dark">
            <div class="Register d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-xl-7 mx-auto fade-in-section">
                            <h3 class="display-4 header-text text-center text-custome">E-Checklist Registering</h3>
                            <form>
                                <div class="form-group mb-3">
                                    <input id="inputEmail" type="text" placeholder="Employee Number" required autofocus class="form-control rounded-pill border-0 shadow-sm px-4">
                                </div>
                                <div class="form-group mb-3">
                                    <input id="inputRole" type="text" placeholder="Role" required class="form-control rounded-pill border-0 shadow-sm px-4">
                                </div>
                                <div class="form-group mb-3">
                                    <input id="inputPlant" type="text" placeholder="Plant" required class="form-control rounded-pill border-0 shadow-sm px-4">
                                </div>
                                <div class="form-group mb-3">
                                    <input id="inputPassword" type="password" placeholder="Password" required class="form-control rounded-pill border-0 shadow-sm px-4 text-white">
                                </div>
                                <div class="form-group mb-3">
                                    <input id="inputConfirmPassword" type="password" placeholder="Confirm Password" required class="form-control rounded-pill border-0 shadow-sm px-4 text-white">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm w-100">Register</button>
                                </div>
                                <div class="text-center d-flex justify-content-between mt-4">
                                    <p class="mb-0 text-white">Already have an account? @Html.ActionLink("Sign In", "Login", "Login", new { area = "" }, new { @class = "text-white" })</p>
                                </div>
                              
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

